*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 60px;
    background-color: cadetblue;
}

.logo{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.logo:hover{
    filter: drop-shadow(1px 1px 10px black);
    transform: scale(1.2);
}
.logo span{
    font-size: 14px;
    letter-spacing: 1px;
}

.menu{
    display: flex;
    gap: 20px;
}
.menu-item{
    display: flex;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    display: block;
    font-size: 22px;
}

.menu-item a:hover {
    background-color:burlywood;
    border-radius: 7px;
    color: black;

}
#active{
    background-color:burlywood;
    border-radius: 7px;
}
#active a{
    color: black;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:cadetblue;
    display: none;
    flex-direction: column;
    padding: 20px 0;
    margin: 0;
    gap: 10px;
}

.dropdown-menu li a {
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
}

.dropdown-menu li a:hover {
    background-color:burlywood;
}

.menu-item.dropdown:hover .dropdown-menu {
    display: flex;
}


/* SIDE MENU */

#logo{
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#logo:hover{
    filter: drop-shadow(1px 1px 10px black);
    transform: scale(1.2);
}
#logo span{
    font-size: 14px;
    letter-spacing: 1px;
}

.side-menu{
    width: 230px;
    height: 606px;
    background-color: cadetblue;
}

.side-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 30px;
    list-style: none;
    
}

.side-menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    padding: 5px 10px;
}

.side-menu ul li a:hover{
    background-color: burlywood;
    border-radius: 7px;
    color: black;
}

#side-active a{
    background-color: burlywood;
    border-radius: 7px ;
    color: black;
}

/* Animation */

.container{
    display: flex;
    justify-content: space-between;
}
.right-cont{
    margin-right: 50px;
}
.animation{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 1200px;
    height: 580px;
    background-color:#f9d1d1;
}

.box1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    border: 1px solid black;
}

.child-box1{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: cadetblue;
    position: relative;
    animation: boxOne 8s linear 1s infinite;

}

@keyframes boxOne{
    0%{
        top: 0;
        left: 0;
        background-color: cadetblue;
    }
    25%{
        background-color: chocolate;
    }
    50%{
        background-color: darkmagenta;
    }
    75%{
        background-color:cornflowerblue;
    }
    100%{
        top: 0;
        left: 1000px;
        background-color: darkgoldenrod;
    }
}

.box2{
    width: 1000px;
    height: 430px;
    border: 1px solid black;
}
.child-box2{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: cadetblue;
    position: relative;
    animation: boxTwo 15s linear 1s infinite;
}

@keyframes boxTwo{
    0%{
        top: 0;
        left: 0;
        background-color: cadetblue;
    }
    25%{
        top: 0;
        left: 900px;
        background-color: chocolate;
    }
    50%{
        top: 320px;
        left: 900px;
        background-color: darkmagenta;
    }
    75%{
        top: 320px;
        left: 0;
        background-color:cornflowerblue;
    }
    100%{
        top: 0;
        left: 0;
        background-color: darkgoldenrod;
    }
}
